<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Firebase LTI Demo</title>

    <script defer src="/__/firebase/4.2.0/firebase-app.js"></script>
    <script defer src="/__/firebase/4.2.0/firebase-auth.js"></script>
    <script defer src="/__/firebase/4.2.0/firebase-database.js"></script>
    <script defer src="/__/firebase/init.js"></script>

    <link rel="stylesheet" href="/main.css">
  </head>

  <body>

    <h2>Firebase LTI Demo</h2>
    {{{body}}}

  </body>

</html>
