<h1>Credentials</h1>

<p>Use this key/secret pair to install this service in your LTI consumer application.</p>

<p>
  Note that this information cannot be retreived once you leave this page;
  if you lose this pair you will need to generate a new one.
</p>

<dl>

  <dt>Launch URL</dt>
  <dd><input type="text" readonly value="{{launchURL}}" id="launch-url"/></dd>

  <dt>Consumer key</dt>
  <dd><input type="text" readonly value="{{key}}"/></dd>

  <dt>Consumer secret</dt>
  <dd><input type="text" readonly value="{{secret}}"/></dd>

</dl>

<script>
  // The origin is not accessible in functions handler, we need to add on the
  // client side.
  const field = document.getElementById('launch-url');
  const relURL = field.value;
  const origin = window.location.origin;

  field.value = origin + relURL;

  // Select input value on focus.
  const inputs = document.querySelectorAll('input[readonly]');

  Array.from(inputs).forEach(el => el.addEventListener('focus', select));

  function select() {
    this.select();
  }

</script>
