<h1>A reference Firebase LTI-provider application</h1>

<form action="/lti/credentials" method="post">
  <p>
    Your LTI consumer require a oauth1 pair of key and secret to install this service:
    <button type="submit">Generate oauth1 keys</button>
  </p>
</form>
